.description-box{
    margin:  120px 170px;
}
.description-navigator {
    display: flex;
}
.description-box-nav-box{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 170px;
    font-weight: 600;
    height: 60px;
    border: 1px solid #0d0d0d;
}
.description-box-nav-box-fade{
    background: #706767;
    padding: 10px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.descriptionbox-description{
    display: flex;
    flex-direction: column;
    gap: 22px;
    border: 1px solid #d0d0d0;
    padding: 50px;
    padding-top: 70px;
    
}