.New-collections{
    background: #51829B;               

}
/* .New-collections h1{
    color: #9BB0C1;
    font-size: 50px;
    font-weight: 600;
}
.New-collections hr{
    width: 200px;
    height: 6px;
    border-radius: 10px;
    border-style: none;
} */
/* .collection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
} */