.loginSignup{
    width: 100%;
    height: 700px;
    padding-top: 50px;
    background: #EADFB4;
}
.loginSignup-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 590px;
    height: 80%;
    border-radius: 1em;
    background:white;
    box-sizing: border-box;
    margin: auto;
    position: relative;
}
.loginSignup-container h1{
    padding: 20px;
}
.loginSignup-form{
    width: 80%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: white;
    gap: 10px;
}
.loginSignup-form input{
    width: 97%;
    height: 46px;
    text-align: center;
}
.login-btn{
    width: 80%;
    height: 50px;
    cursor: pointer;
}
.login-btn:hover{
    background: #F6995C;
}
.loginSignup-agree{
    margin-top: 20px;
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.loginSignup-login{
    margin-top:  10px;
    color:#F6995C;
    font-weight: 500;
}
.loginSignup-login span {
    color: #0000ff;
    cursor: pointer;
}