.shopcategory-banner{
    display: block;
    width: 1400px;
}
.shopcategory-indexShort{
    display: flex;
    justify-content: space-between;
    margin: 20px 170px;
    align-items: center;
}
.shopcategory-indexShort p span{
    font-weight: 600;
}
.shopcategory-sort{
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    padding: 1px 10px;
    border-radius: 1em;
} 
.shopcategory-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 150px;
    row-gap: 20px;
}
.shopcategory-showmore{
    background: #000000;
    color: white;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 233px;
    border-radius: 2em;
    font-size: 20px;
    font-weight: 500;
    border: none;
}
.shopcategory-showmore:hover{
    cursor: pointer;
    color: #fff;
    font-size: 21px;
}