.breadCrum {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin: 40px 140px;
    text-transform: capitalize;
}