.hero{
    height: 100vh;
    background: linear-gradient(180deg, #EADFB4, #9BB0C1 60%);
    display: flex;
}
.hero-left{
    width: 50%;
    padding: 2rem;
    background: #6a5656;
}                   
.hero-hand-icon {
    background: #738c65;
}
.hero-latest-btn{
    background: #759bb2;
}