.hero{
    height: 100vh;
    background: linear-gradient(180deg, #EADFB4, #9BB0C1 60%);
    display: flex;
}
.hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 100px;
    line-height: .6;
    padding-top: 30px;
     
}      
.hero-left h2{
    font-size: 30px;
    font-weight: 700;
    color: #51829B;
}      
.hero-hand-icon {    
    flex-direction: column;
    font-size:50px;
}
.hero-hand-icon p{
    color: #51829B;
}       

.hero-hand-icon img{
    width: 40px;
}
.hero-latest-btn{
}

.hero-right{
    display: flex;
}